$background: #100c24;
$main-padding: 30px 30px;
$logo-color: #61e8ed;
$logo-icon-color: #8f42db;
// $nav-link-color: #f277cd;
$nav-link-color: #7853d1;
$nav-link-color-hover: #fc32b5;

$bg: linear-gradient(112deg, rgba(139,8,246,1) 0%, rgba(182,24,234,1) 49%, rgba(203,6,213,1) 64%, rgba(216,34,115,1) 100%);
$sub-title-color: #c800dd;
$intro-main-title-color: #6cf0f0;
$into-btn-color: #3ce7f0;
